<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title>Link-list to Sitemap Generator</title>

    <style>
        .wrapper {
            width: 800px;
            position: absolute;
            left: 50%;
            margin-left: -400px;
            top: 0px;
        }
    </style>


</head>

<body>

    <div class="wrapper">

        <h1>Link-list to Sitemap Generator</h1>

        <pre>
Sample Input:

http://example.com/directory-one/index.html
http://example.com/directory-two/index.html

</pre>

        <pre>
Sample Output:

&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;urlset xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xsi:schemaLocation=&quot;http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd&quot; xmlns=&quot;http://www.sitemaps.org/schemas/sitemap/0.9&quot;&gt;

&lt;url&gt;&lt;loc&gt;http://example.com/directory-one/index.html&lt;/loc&gt;&lt;changefreq&gt;monthly&lt;/changefreq&gt;&lt;priority&gt;0.2&lt;/priority&gt;&lt;/url&gt;
&lt;url&gt;&lt;loc&gt;http://example.com/directory-two/index.html&lt;/loc&gt;&lt;changefreq&gt;monthly&lt;/changefreq&gt;&lt;priority&gt;0.2&lt;/priority&gt;&lt;/url&gt;

&lt;/urlset&gt;
</pre>

        <textarea class="form-control" rows="3" id="input"></textarea>
        <br>
        <button class="btn btn-default btn-large generate-btn">GENERATE SITEMAP</button>
        <br>
        <br>
        <textarea class="form-control" rows="3" id="output"></textarea>

    </div>

    <script src="string.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../js/jquery.min.js"><\/script>')
    </script>

    <script>
        ! function () {

            var sitemap = '<?xml version="1.0" encoding="UTF-8"?><urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">\n\n<urlset>\n\n{{URLS}}\n</urlset>'

            $('.generate-btn').click(function () {

                xml = '';
                lines = $('#input').val();
                splitted_lines = lines.split('\n');

                for (i = 0; i < splitted_lines.length; i++) {

                    if (!S(splitted_lines[i]).isEmpty()) {
                        xml += '<url><loc>' + splitted_lines[i] + '</loc><changefreq>never</changefreq></url>\n\n'
                    }

                }

                sitemapXML = sitemap.replace('{{URLS}}', xml)
                $('#output').val(sitemapXML)

            })

        }();
    </script>

    <script type='text/javascript' src='//cdn.adpacks.com/adpacks.js?zoneid=1386&serve=C6SI42Y&placement=iwantaneffin' id='_adpacks_js'></script>
    <script src="//www.higg.so/modules/smoke.js/smoke.min.js?v=1"></script>
    <link href="//www.higg.so/modules/smoke.js/smoke.css" type="text/css" rel=stylesheet>
    <link href="//www.higg.so/modules/smoke-adpacks/smoke-adpacks.css" type="text/css" rel=stylesheet>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//www.higg.so/modules/smoke-adpacks/smoke-init.min.js"></script>

</body>

</html>